{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
    <nav itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <div class="inner">
        <p>
          <a href="{{ $.Site.Params.BaseDir }}">{{ $strings.sections.home }}</a>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ $.Site.Params.BaseDir }}docs/" itemprop="item"><span itemprop="name">{{ $strings.sections.docs }}</span></a><meta itemprop="position" content="1"></span>
        </p>
      </div>
    </nav>
