    <nav itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <div class="inner">
        <p>
          <a href="/{{ $.Site.LanguageCode }}/">{{ i18n "section_home" }}</a>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/{{ $.Site.LanguageCode }}/docs/" rel="index" itemprop="item"><span itemprop="name">{{ i18n "section_docs" }}</span></a><meta itemprop="position" content="1"></span>
        </p>
      </div>
    </nav>
