      <p>
        <strong>{{ i18n "releases" }}</strong>:
        {{- range $i, $version := .Params.releases }}
        {{- if $i }}, {{ end }}
        <a href="{{ $.Site.BaseURL }}{{ $.Site.LanguageCode }}/releases/{{ $version }}/">
          {{- $.Scratch.Set "version" $version }}{{ partial "release-label/without-channel" $ -}}
        </a>
        {{- end }}
        <br>
        <strong>{{ i18n "categories" }}</strong>:
        {{- range $i, $category := .Params.categories }}
        {{- if $i }}, {{ end }}
        <a href="{{ $.Site.BaseURL }}{{ $.Site.LanguageCode }}/categories/{{ $category }}/">
          {{- replace $category "-" "_" | printf "category_%s" | i18n -}}
        </a>
        {{- end }}
      </p>
      <h2>{{ i18n "description" }}</h2>
      {{- .Content }}
      {{- with .Params.supported_tools }}
      <h2>{{ i18n "tools" }}</h2>
      {{- if eq .firefox_extension true }}
      <p>{{ i18n "tools_firefox_extension" | safeHTML }}</p>
      {{- end }}
      {{- end }}
      <h2>{{ i18n "references" }}</h2>
      <ul>
        {{- range .Params.references }}
        <li><a href="{{ .url }}">{{ .title }}</a></li>
        {{- end }}
      </ul>
