      <p>
        <strong>{{ i18n "releases" }}</strong>:
        {{- range $i, $release := .Params.releases }}
        {{- if $i }}, {{ end }}
        <a href="{{ $.Site.BaseURL }}{{ $.Site.LanguageCode }}/releases/{{ $release }}/">
          {{- $.Scratch.Set "release" $release }}{{ partial "release-label/without-channel" $ -}}
        </a>
        {{- end }}
        <br>
        <strong>{{ i18n "categories" }}</strong>:
        {{- range $i, $category := .Params.categories }}
        {{- if $i }}, {{ end }}
        <a href="{{ $.Site.BaseURL }}{{ $.Site.LanguageCode }}/categories/{{ $category }}/">
          {{- replace $category "-" "_" | printf "category_%s" | i18n -}}
        </a>
        {{- end }}
      </p>
      <h2>{{ i18n "description" }}</h2>
      {{- .Content }}
      <h2>{{ i18n "references" }}</h2>
      <ul>
        {{- range .Params.references }}
        <li><a href="{{ .url }}">{{ .title }}</a></li>
        {{- end }}
      </ul>
