{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
  <entry>
    <id>{{ .Permalink }}</id>
    <title>{{ replace .Title "`" "" }}{{ partial "status-label/suffix" . }}</title>
    <updated>{{ .Date.Format $.Site.Params.DateFormat.ISO8601 }}</updated>{{ with $.Site.Params.Author.Name }}
    <author>
      <name>{{ . }}</name>{{ with $.Site.Params.Author.Email }}
      <email>{{ . }}</email>{{end}}
    </author>{{ end }}
    <content:encoded>{{ "<![CDATA[" | safeHTML }}{{ if eq .Section "docs" }}
      <p>{{ range .Params.versions }}
        <strong>{{ $strings.feed.version }}</strong>: <a href="{{ $.Site.Params.BaseDir }}versions/{{ . }}/">Firefox {{ . }}{{ with index $.Site.Data.firefox.versions . }} <em>{{ index $.Site.Data.firefox.channels . }}</em>{{ end }}</a><br>{{ end }}{{ range .Params.categories }}
        <strong>{{ $strings.feed.category }}</strong>: <a href="{{ $.Site.Params.BaseDir }}categories/{{ . }}/">{{ index $strings.categories . }}</a><br>{{ end }}
      </p>
      <h2>{{ $strings.description }}</h2>
      {{ .Content }}
      <h2>{{ $strings.references }}</h2>
      <ul>{{ range .Params.references }}
        <li><a href="{{ .url }}">{{ .title }}</a></li>{{ end }}
      </ul>{{ else }}
      {{ .Content }}{{ end }}
    {{ "]]>" | safeHTML }}</content:encoded>
    <link rel="alternate" href="{{ .Permalink }}" />{{ range .Params.categories }}
    <category term="{{ index $strings.categories . }}" />{{ end }}
  </entry>
