  <id>{{ $.Site.BaseURL }}{{ $.Site.LanguageCode }}/</id>{{ if not $.Date.IsZero }}
  <updated>{{ $.Date.Format $.Site.Params.DateFormat.ISO8601 }}</updated>{{ end }}{{ with $.Site.Params.Author.Name }}
  <author>
    <name>{{ . }}</name>{{ with $.Site.Params.Author.Email }}
    <email>{{ . }}</email>{{end}}
  </author>{{ end }}
  <link href="{{ partial "link/absolute" . }}" rel="self" />
  <category term="{{ i18n "contentinfo_category" }}" />
  <icon>{{ $.Site.BaseURL }}images/template/favicon.png</icon>
  <logo>{{ $.Site.BaseURL }}images/template/logo-512.png</logo>{{ with .Site.Copyright }}
  <rights>Copyright &#169; {{ now.Format "2006" }} {{ . }}</rights>{{ end }}
