<!DOCTYPE html>
{{ $description := replace (substr .Summary 0 250) "\n" " " }}
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ .Title }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ $description | safeHTML }} ...">
    <meta name="description" content="{{ $description | safeHTML }} ...">
  </head>
  <body class="single blog article" itemscope itemtype="http://schema.org/ItemPage" itemref="copyright translation">
    <meta itemprop="name" content="{{ .Title }}">
    <meta itemprop="description" content="{{ $description | safeHTML }} ...">
{{ partial "header.html" . }}
    <nav itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <div class="inner">
        <p>
          <a href="/{{ $.Site.LanguageCode }}/">{{ i18n "section_home" }}</a>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/{{ $.Site.LanguageCode }}/blog/" rel="index" itemprop="item"><span itemprop="name">{{ i18n "section_blog" }}</span></a><meta itemprop="position" content="1"></span>
        </p>
      </div>
    </nav>

    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <div class="inner" itemscope itemtype="http://schema.org/Blog">
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" itemref="meta-general copyright translation">
          <header>
            <h1 itemprop="headline">{{ .Title }}</h1>
            <p><time datetime="{{ .Date.Format $.Site.Params.DateFormat.ISO8601 }}" itemprop="datePublished">{{ .Date.Format $.Site.Params.DateFormat.Localized }}</time></p>
          </header>
          <div itemprop="articleBody">
            {{ .Content }}
          </div>
        </article>
        <nav class="nocontent">
          <h2>{{ i18n "recent_blog_posts" }}</h2>
          <ul>{{ range first 5 (where $.Site.Pages "Section" "blog") }}
            <li><a href="{{ replace .Permalink "/en-ca/" "/en-CA/" | relURL }}">{{ .Title | markdownify }}</a></li>{{ end }}
          </ul>
        </nav>
      </div>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
