# Charset
AddDefaultCharset UTF-8
AddCharset UTF-8 css js

# MIME types
AddType application/javascript js
AddType application/vnd.ms-fontobject eot
AddType application/font-sfnt ttf
AddType application/font-woff2 woff2

# Options
Options +SymLinksIfOwnerMatch -Indexes
RewriteEngine on

# Redirect: locale variants
RewriteRule ^en(?:-(?:GB|US|ca|gb|us))?/(.*) /en-CA/$1 [R=301,L]
RewriteRule ^ja-(?:JP|jp)/(.*) /ja/$1 [R=301,L]

# Site Search
RewriteCond %{QUERY_STRING} cx=006388931142546140887:uidl4-zslfu
RewriteRule ^(en-CA|ja)/search/$ https://cse.google.com/cse [L]

# Obsolete taxonomies
RewriteRule ^(en-CA|ja)/versions/(.*) /$1/releases/$2 [R=301,L]

# Obsolete categories
RewriteRule ^(en-CA|ja)/categories/event-handling/?$ /$1/categories/dom/ [R=301,L]
RewriteRule ^(en-CA|ja)/categories/(?:file-handling|mathml)/?$ /$1/categories/misc/ [R=301,L]

# Obsolete status
RewriteRule ^(en-CA|ja)/statuses/affected/?$ /$1/statuses/affecting/ [R=301,L]

# Redirect: Japanese
RewriteCond %{HTTP:Accept-Language} ^ja
RewriteCond %{REQUEST_URI} !^/(en-CA|ja)(/.*)?$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) /ja/$1 [R=302,L]

# Redirect: English (Canada)
RewriteCond %{REQUEST_URI} !^/(en-CA|ja)(/.*)?$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) /en-CA/$1 [R=302,L]

# 404 Not Found
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(en-CA|ja)/ /$1/404.html [L]

# Performance
FileETag None
Header always append Cache-Control private
Header always append Vary Accept-Language
AddOutputFilterByType DEFLATE text/html text/css application/javascript
ExpiresActive On
ExpiresDefault "access plus 1 year"
ExpiresByType text/html "access plus 6 hours"
ExpiresByType application/xml "access plus 1 hour"

# Security
Header always append Content-Security-Policy "\
  default-src 'self';\
  img-src 'self' https://www.google-analytics.com;\
  script-src 'self' https://www.google-analytics.com"
Header always append Strict-Transport-Security max-age=31536000
Header always append X-Content-Type-Options nosniff
Header always append X-Frame-Options DENY

<Files ~ "\.(json|xml)$">
  Header always append Access-Control-Allow-Origin: *
</Files>
