@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FiraSans-Regular.eot?v=4.105');
  src: url('../fonts/FiraSans-Regular.eot?#iefix&v=4.105') format('embedded-opentype'),
       url('../fonts/FiraSans-Regular.woff2?v=4.105') format('woff2'),
       url('../fonts/FiraSans-Regular.woff?v=4.105') format('woff'),
       url('../fonts/FiraSans-Regular.ttf?v=4.105') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/FiraSans-Bold.eot?v=4.105');
  src: url('../fonts/FiraSans-Bold.eot?#iefix&v=4.105') format('embedded-opentype'),
       url('../fonts/FiraSans-Bold.woff2?v=4.105') format('woff2'),
       url('../fonts/FiraSans-Bold.woff?v=4.105') format('woff'),
       url('../fonts/FiraSans-Bold.ttf?v=4.105') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/FiraSans-Italic.eot?v=4.105');
  src: url('../fonts/FiraSans-Italic.eot?#iefix&v=4.105') format('embedded-opentype'),
       url('../fonts/FiraSans-Italic.woff2?v=4.105') format('woff2'),
       url('../fonts/FiraSans-Italic.woff?v=4.105') format('woff'),
       url('../fonts/FiraSans-Italic.ttf?v=4.105') format('truetype');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/FiraMono-Medium.eot?v=3.205');
  src: url('../fonts/FiraMono-Medium.eot?#iefix&v=3.205') format('embedded-opentype'),
       url('../fonts/FiraMono-Medium.woff2?v=3.205') format('woff2'),
       url('../fonts/FiraMono-Medium.woff?v=3.205') format('woff'),
       url('../fonts/FiraMono-Medium.ttf?v=3.205') format('truetype');
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
       url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),
       url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype');
}

html {
  font-family: 'Fira Sans', sans-serif;
}

html[lang="ja"] * {
  font-style: normal !important;
}

code, kbd {
  font-family: 'Fira Mono', monospace !important; /* Override prism.css */
  font-weight: 500;
  letter-spacing: -.05ex;
}

.fa.replace {
  display: inline-block;
  overflow: hidden;
  width: 1em;
  white-space: nowrap;
  vertical-align: top;
}

.fa.replace::before {
  display: inline-block;
  width: 1em;
  font-size: 1em;
  font-family: 'FontAwesome';
}

.fa.facebook::before {
  content: '\f230';
}

.fa.twitter::before {
  content: '\f099';
}

.fa.google-plus::before {
  content: '\f0d5';
}

.fa.google-group::before {
  content: '\f086';
}

.fa.github::before {
  content: '\f09b';
}

.fa.cc::before {
  content: '\f25e';
}
