html {
  font-size: 8pt;
  line-height: 1.25;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 12pt;
}

p, li {
  line-height: 1.75;
}

pre {
  line-height: 1.5;
}

a:link, a:hover, a:focus, a:active, a:visited {
  color: inherit;
}

.tag::after {
  content: ":";
}

[role="banner"],
[itemprop="breadcrumb"],
[role="contentinfo"] nav {
  display: none;
}

[role="contentinfo"] {
  margin-top: 2em;
  border-top: 1px solid #CCC;
  padding-top: 1em;
  color: #999;
}

[role="contentinfo"] h1 {
  font-size: 12pt;
}

[role="contentinfo"] p {
  font-size: 6pt;
}
