<!DOCTYPE html>
{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
{{ $category := index $strings.categories (.Title | urlize) }}
{{ $title := replace $strings.category_index_page.title "%s" $category }}
{{ $description := replace $strings.category_index_page.description "%s" $category }}
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ $title }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description }}">
    <meta name="description" content="{{ $description }}">
  </head>
  <body class="list docs term category" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright translation">
    <meta itemprop="name" content="{{ $title }}">
    <meta itemprop="description" content="{{ $description }}">
{{ partial "header.html" . }}
{{ partial "search.html" . }}
{{ partial "breadcrumbs/docs.html" . }}
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <div class="inner">
        <section>
          <header>
            <h1 itemprop="name">{{ $title }}</h1>
            <p itemprop="description">{{ $description }}</p>
          </header>{{ range .Data.Pages.GroupByParam "versions" "desc" }}{{ $version := .Key }}
          <section>
            <h2>Firefox {{ $version }}{{ with index $.Site.Data.firefox.versions $version }} <em class="channel">{{ index $.Site.Data.firefox.channels . }}</em>{{ end }}</h2>
            <ul>{{ range .Pages }}
              <li>{{ partial "status-label/prefix-em" . }}<a href="{{ replace .Permalink (printf "%s" $.Site.BaseURL) $.Site.Params.BaseDir }}">{{ .Title | markdownify }}</a></li>{{ end }}
            </ul>
          </section>{{ end }}
        </section>
        <nav class="nocontent">
          <h2>{{ $strings.browse_category }}</h2>
          <ul class="taxonomy terms">{{ range $category, $taxonomy := $.Site.Taxonomies.categories }}
            <li><a href="{{ $.Site.Params.BaseDir }}categories/{{ $category }}/">{{ index $strings.categories $category }}</a></li>{{ end }}
          </ul>
        </nav>
      </div>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
