<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ i18n "all_releases_page_title" }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ i18n "all_releases_page_title" }}">
    <meta property="og:description" content="{{ i18n "all_releases_page_description" }}">
    <meta name="description" content="{{ i18n "all_releases_page_description" }}">
  </head>
  <body class="list docs taxonomy releases" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright translation">
{{ partial "header.html" . }}
{{ partial "search.html" . }}
{{ partial "breadcrumbs/docs.html" . }}
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <section class="inner">
        <header>
          <h1 itemprop="name">{{ i18n "all_releases_page_title" }}</h1>
          <p itemprop="description">{{ i18n "all_releases_page_description" }}</p>
        </header>
        <ul class="taxonomy terms">{{ range $key, $value := .Data.Terms.Alphabetical.Reverse }}{{ $release := $value.Name }}
          <li><a href="/{{ $.Site.LanguageCode }}/releases/{{ $release }}/">{{ $.Scratch.Set "release" $release }}{{ partial "release-label/with-channel" $ }}</a></li>{{ end }}
        </ul>
      </section>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
