<!DOCTYPE html>
{{- $version := .Title | urlize | lower }}
{{- $.Scratch.Set "version" $version }}
{{- partial "meta/release" . }}
{{- $title := $.Scratch.Get "title" -}}
{{- $description := $.Scratch.Get "description" -}}
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ $title | plainify }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ $title | plainify }}">
    <meta property="og:description" content="{{ $description | plainify }}">
    <meta name="description" content="{{ $description | plainify }}">
    {{- range .Pages }}
    <link rel="prefetch" href="{{ partial "link/relative" . }}" as="document">
    {{- end }}
  </head>
  <body class="list docs term release" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright translation">
{{ partial "header.html" . }}
{{ partial "search.html" . }}
{{ partial "breadcrumbs/docs.html" . }}
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <div class="inner">
        <section>
          <header>
            <h1 itemprop="name">{{ $title | plainify }}</h1>
            <p itemprop="description">{{ $description | safeHTML }} {{ if ne $version "future" }}{{ i18n "release_index_page_description_secondary" (dict "release" $version) | safeHTML }}{{ end }}</p>
          </header>{{ range $category, $taxonomy := $.Site.Taxonomies.categories }}
          <section>
            <h2>{{ replace $category "-" "_" | printf "category_%s" | i18n }}</h2>
            <ul>{{ range $taxonomy.Pages }}{{ if in .Params.releases $version }}
              <li>{{ partial "status-label/prefix-em" . }}<a href="{{ partial "link/relative" . }}">{{ .Title | markdownify | replaceRE "([a-z])([A-Z\\.])" "$1<wbr>$2" | safeHTML }}</a></li>{{ end }}{{ end }}
            </ul>
          </section>{{ end }}
        </section>
        <nav class="nocontent">
          <h2>{{ i18n "browse_release" }}</h2>
          <ul class="taxonomy terms">{{ range first 5 $.Site.Taxonomies.releases.Alphabetical.Reverse }}{{ $version := .Name }}
            <li><a href="/{{ $.Site.LanguageCode }}/releases/{{ $version }}/">{{ $.Scratch.Set "version" $version }}{{ partial "release-label/with-channel" $ }}</a></li>{{ end }}
            <li><a href="/{{ $.Site.LanguageCode }}/releases/">{{ i18n "browse_all_releases" }}</a></li>
          </ul>
        </nav>
      </div>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
