<!DOCTYPE html>
{{ $version := .Title | urlize | lower }}
{{ $title := i18n "version_index_page_title" (dict "version" $version) }}
{{ $title_future := i18n "version_index_page_title_future" }}

{{- if eq $version "future" -}}
  {{- i18n "version_index_page_description_future" | $.Scratch.Set "description" -}}
{{- else -}}
  {{- $date := index $.Site.Data.firefox.dates $version -}}
  {{- $date_localized := (time $date).Format $.Site.Params.DateFormat.Localized -}}
  {{- with index $.Site.Data.firefox.versions $version -}}
    {{- $channel := . }}
    {{- i18n "version_index_page_description_upcoming" (dict "version" $version "channel" $channel "channel_localized" (index $.Site.Data.firefox.channels $channel) "date" $date "date_localized" $date_localized) | $.Scratch.Set "description" -}}
  {{- else -}}
    {{- i18n "version_index_page_description" (dict "version" $version "date" $date "date_localized" $date_localized) | $.Scratch.Set "description" -}}
  {{- end -}}
{{- end -}}
{{- $description := $.Scratch.Get "description" -}}
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ if eq $version "future" }}{{ $title_future }}{{ else }}{{ $title }}{{ end }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ if eq $version "future" }}{{ $title_future }}{{ else }}{{ $title }}{{ end }}">
    <meta property="og:description" content="{{ $description | plainify }}">
    <meta name="description" content="{{ $description | plainify }}">
  </head>
  <body class="list docs term version" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright translation">
    <meta itemprop="name" content="{{ if eq $version "future" }}{{ $title_future }}{{ else }}{{ $title }}{{ end }}">
    <meta itemprop="description" content="{{ $description | plainify }}">
{{ partial "header.html" . }}
{{ partial "search.html" . }}
{{ partial "breadcrumbs/docs.html" . }}
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <div class="inner">
        <section>
          <header>
            <h1 itemprop="name">{{ if eq $version "future" }}{{ $title_future }}{{ else }}{{ $title }}{{ end }}</h1>
            <p itemprop="description">{{ $description | safeHTML }} {{ if ne $version "future" }}{{ i18n "version_index_page_description_secondary" (dict "version" $version) | safeHTML }}{{ end }}</p>
          </header>{{ range $category, $taxonomy := $.Site.Taxonomies.categories }}
          <section>
            <h2>{{ replace $category "-" "_" | printf "category_%s" | i18n }}</h2>
            <ul>{{ range $taxonomy.Pages }}{{ if in .Params.versions $version }}
              <li>{{ partial "status-label/prefix-em" . }}<a href="{{ replace .Permalink "/en-ca/" "/en-CA/" | relURL }}">{{ .Title | markdownify | replaceRE "([a-z])([A-Z\\.])" "$1<wbr>$2" | safeHTML }}</a></li>{{ end }}{{ end }}
            </ul>
          </section>{{ end }}
        </section>
        <nav class="nocontent">
          <h2>{{ i18n "browse_version" }}</h2>
          <ul class="taxonomy terms">{{ range first 4 $.Site.Taxonomies.versions.Alphabetical.Reverse }}{{ $version := .Name }}
            <li><a href="/{{ $.Site.LanguageCode }}/versions/{{ $version }}/">{{ if eq $version "future" }}{{ i18n "versions_future" }}{{ else }}Firefox {{ $version }}{{ end }}{{ with index $.Site.Data.firefox.versions $version }} <em class="channel">{{ index $.Site.Data.firefox.channels . }}</em>{{ end }}</a></li>{{ end }}
            <li><a href="/{{ $.Site.LanguageCode }}/versions/">{{ i18n "browse_all_versions" }}</a></li>
          </ul>
        </nav>
      </div>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
