<!DOCTYPE html>
{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
{{ $version := .Title | urlize }}
{{ $title := replace $strings.version_index_page.title "%s" $version }}
{{ $title_future := $strings.version_index_page.title_future }}
{{ $description := replace $strings.version_index_page.description "%s" $version }}
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ if eq $version "future" }}{{ $title_future }}{{ else }}{{ $title }}{{ end }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ if eq $version "future" }}{{ $title_future }}{{ else }}{{ $title }}{{ end }}">
    <meta property="og:description" content="{{ $description }}">
    <meta name="description" content="{{ $description }}">
  </head>
  <body class="list docs term version" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright translation">
    <meta itemprop="name" content="{{ if eq $version "future" }}{{ $title_future }}{{ else }}{{ $title }}{{ end }}">
    <meta itemprop="description" content="{{ $description }}">
{{ partial "header.html" . }}
{{ partial "search.html" . }}
{{ partial "breadcrumbs/docs.html" . }}
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <div class="inner">
        <section>
          <header>
            <h1 itemprop="name">{{ if eq $version "future" }}{{ $title_future }}{{ else }}{{ $title }}{{ end }}</h1>
            <p itemprop="description">{{ if eq $version "future" }}{{ $strings.version_index_page.description_future | safeHTML }}{{ else }}{{ with index $.Site.Data.firefox.versions $version }}{{ replace (replace $strings.version_index_page.description_upcoming "%(version)s" $version) "%(channel)s" (index $.Site.Data.firefox.channels .) | safeHTML }}{{ else }}{{ $description }}{{ end }} {{ replace $strings.version_index_page.description_secondary "%s" $version | safeHTML }}{{ end }}</p>
          </header>{{ range $category, $taxonomy := $.Site.Taxonomies.categories }}
          <section>
            <h2>{{ index $strings.categories $category }}</h2>
            <ul>{{ range $taxonomy.Pages }}{{ if in .Params.versions $version }}
              <li>{{ partial "status-label/prefix-em" . }}<a href="{{ replace .Permalink (printf "%s" $.Site.BaseURL) $.Site.Params.BaseDir }}">{{ .Title | markdownify }}</a></li>{{ end }}{{ end }}
            </ul>
          </section>{{ end }}
        </section>
        <nav class="nocontent">
          <h2>{{ $strings.browse_version }}</h2>
          <ul class="taxonomy terms">{{ range first 5 $.Site.Taxonomies.versions.Alphabetical.Reverse }}{{ $version := .Name }}
            <li><a href="{{ $.Site.Params.BaseDir }}versions/{{ $version }}/">{{ with index $strings.versions $version }}{{ . }}{{ else }}Firefox {{ $version }}{{ end }}{{ with index $.Site.Data.firefox.versions $version }} <em class="channel">{{ index $.Site.Data.firefox.channels . }}</em>{{ end }}</a></li>{{ end }}
            <li><a href="{{ $.Site.Params.BaseDir }}versions/">{{ $strings.browse_all_versions }}</a></li>
          </ul>
        </nav>
      </div>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
