<!DOCTYPE html>
{{ $version := .Title | urlize | lower }}

{{- if eq $version "future" -}}
  {{- i18n "version_index_page_title_future" | $.Scratch.Set "title" -}}
  {{- i18n "version_index_page_description_future" | $.Scratch.Set "description" -}}
{{- else if strings.HasSuffix $version "-esr" -}}
  {{- $version := strings.TrimSuffix "-esr" $version -}}
  {{- i18n "version_index_page_title" (dict "version" (printf "%s ESR" $version)) | $.Scratch.Set "title" -}}
  {{- $date := index $.Site.Data.firefox.dates $version -}}
  {{- $date_localized := (time $date).Format $.Site.Params.DateFormat.Localized -}}
  {{- i18n "version_index_page_description_esr" (dict "version" $version "date" $date "date_localized" $date_localized) | $.Scratch.Set "description" -}}
{{- else -}}
  {{- i18n "version_index_page_title" (dict "version" $version) | $.Scratch.Set "title" -}}
  {{- $date := index $.Site.Data.firefox.dates $version -}}
  {{- $date_localized := (time $date).Format $.Site.Params.DateFormat.Localized -}}
  {{- with index $.Site.Data.firefox.versions $version -}}
    {{- $channel := . }}
    {{- i18n "version_index_page_description_upcoming" (dict "version" $version "channel" $channel "channel_localized" (printf "channel_%s" $channel | i18n) "date" $date "date_localized" $date_localized) | $.Scratch.Set "description" -}}
  {{- else -}}
    {{- i18n "version_index_page_description" (dict "version" $version "date" $date "date_localized" $date_localized) | $.Scratch.Set "description" -}}
  {{- end -}}
{{- end -}}
{{- $title := $.Scratch.Get "title" -}}
{{- $description := $.Scratch.Get "description" -}}
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ $title | plainify }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ $title | plainify }}">
    <meta property="og:description" content="{{ $description | plainify }}">
    <meta name="description" content="{{ $description | plainify }}">
  </head>
  <body class="list docs term version" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright translation">
{{ partial "header.html" . }}
{{ partial "search.html" . }}
{{ partial "breadcrumbs/docs.html" . }}
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <div class="inner">
        <section>
          <header>
            <h1 itemprop="name">{{ $title | plainify }}</h1>
            <p itemprop="description">{{ $description | safeHTML }} {{ if ne $version "future" }}{{ i18n "version_index_page_description_secondary" (dict "version" $version) | safeHTML }}{{ end }}</p>
          </header>{{ range $category, $taxonomy := $.Site.Taxonomies.categories }}
          <section>
            <h2>{{ replace $category "-" "_" | printf "category_%s" | i18n }}</h2>
            <ul>{{ range $taxonomy.Pages }}{{ if in .Params.versions $version }}
              <li>{{ partial "status-label/prefix-em" . }}<a href="{{ replace .Permalink "/en-ca/" "/en-CA/" | relURL }}">{{ .Title | markdownify | replaceRE "([a-z])([A-Z\\.])" "$1<wbr>$2" | safeHTML }}</a></li>{{ end }}{{ end }}
            </ul>
          </section>{{ end }}
        </section>
        <nav class="nocontent">
          <h2>{{ i18n "browse_version" }}</h2>
          <ul class="taxonomy terms">{{ range first 5 $.Site.Taxonomies.versions.Alphabetical.Reverse }}{{ $version := .Name }}
            <li><a href="/{{ $.Site.LanguageCode }}/versions/{{ $version }}/">{{ $.Scratch.Set "version" $version }}{{ partial "version-label/with-channel" $ }}</a></li>{{ end }}
            <li><a href="/{{ $.Site.LanguageCode }}/versions/">{{ i18n "browse_all_versions" }}</a></li>
          </ul>
        </nav>
      </div>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
