<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ i18n "all_versions_page_title" }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ i18n "all_versions_page_title" }}">
    <meta property="og:description" content="{{ i18n "all_versions_page_description" }}">
    <meta name="description" content="{{ i18n "all_versions_page_description" }}">
  </head>
  <body class="list docs taxonomy versions" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright translation">
    <meta itemprop="name" content="{{ i18n "all_versions_page_title" }}">
    <meta itemprop="description" content="{{ i18n "all_versions_page_description" }}">
{{ partial "header.html" . }}
{{ partial "search.html" . }}
{{ partial "breadcrumbs/docs.html" . }}
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <section class="inner">
        <header>
          <h1 itemprop="name">{{ i18n "all_versions_page_title" }}</h1>
          <p itemprop="description">{{ i18n "all_versions_page_description" }}</p>
        </header>
        <ul class="taxonomy terms">{{ range $key, $value := .Data.Terms.Alphabetical.Reverse }}{{ $version := $value.Name }}
          <li><a href="/{{ $.Site.LanguageCode }}/versions/{{ $version }}/">{{ if eq $version "future" }}{{ i18n "version_future" }}{{ else }}Firefox {{ $version }}{{ end }}{{ with index $.Site.Data.firefox.versions $version }} <em class="channel">{{ printf "channel_%s" . | i18n }}</em>{{ end }}</a></li>{{ end }}
        </ul>
      </section>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
