<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ i18n "all_docs_page_title" }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ i18n "all_docs_page_title" }}">
    <meta property="og:description" content="{{ i18n "all_docs_page_description" }}">
    <meta name="description" content="{{ i18n "all_docs_page_description" }}">
  </head>
  <body class="list docs all" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright translation">
{{ partial "header.html" . }}
{{ partial "search.html" . }}
{{ partial "breadcrumbs/home.html" . }}
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <section class="inner">
        <header>
          <h1 itemprop="name">{{ i18n "all_docs_page_title" }}</h1>
          <p itemprop="description">{{ i18n "all_docs_page_description" }}</p>
        </header>
        <section>
          <h2>{{ i18n "browse_release" }}</h2>
          <ul class="taxonomy terms">{{ range first 5 $.Site.Taxonomies.releases.Alphabetical.Reverse }}{{ $release := .Name }}
            <li><a href="/{{ $.Site.LanguageCode }}/releases/{{ $release }}/">{{ $.Scratch.Set "release" $release }}{{ partial "release-label/with-channel" $ }}</a></li>{{ end }}
            <li><a href="/{{ $.Site.LanguageCode }}/releases/">{{ i18n "browse_all_releases" }}</a></li>
          </ul>
        </section>
        <section>
          <h2>{{ i18n "browse_category" }}</h2>
          <ul class="taxonomy terms">{{ range $category, $taxonomy := $.Site.Taxonomies.categories }}
            <li><a href="/{{ $.Site.LanguageCode }}/categories/{{ $category }}/">{{ replace $category "-" "_" | printf "category_%s" | i18n }}</a></li>{{ end }}
          </ul>
        </section>
        <section>
          <h2>{{ i18n "browse_status" }}</h2>
          <ul class="taxonomy terms">{{ range $status, $taxonomy := $.Site.Taxonomies.statuses }}
            <li><a href="/{{ $.Site.LanguageCode }}/statuses/{{ $status }}/">{{ printf "status_%s_label" $status | i18n }}</a></li>{{ end }}
          </ul>
        </section>
        <section>
          <h2>{{ i18n "all_documents" }}</h2>
          <ul>{{ range .Data.Pages }}
            <li>{{ partial "status-label/prefix-em" . }}<a href="{{ partial "link/relative" . }}">{{ .Title | markdownify | replaceRE "([a-z])([A-Z\\.])" "$1<wbr>$2" | safeHTML }}</a></li>{{ end }}
          </ul>
        </section>
      </section>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
