<!DOCTYPE html>
{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ $strings.all_docs_page.title }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ $strings.all_docs_page.title }}">
    <meta property="og:description" content="{{ $strings.all_docs_page.description }}">
    <meta name="description" content="{{ $strings.all_docs_page.description }}">
  </head>
  <body class="list docs all" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright translation">
    <meta itemprop="name" content="{{ $strings.all_docs_page.title }}">
    <meta itemprop="description" content="{{ $strings.all_docs_page.description }}">
{{ partial "header.html" . }}
{{ partial "search.html" . }}
{{ partial "breadcrumbs/home.html" . }}
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <section class="inner">
        <header>
          <h1 itemprop="name">{{ $strings.all_docs_page.title }}</h1>
          <p itemprop="description">{{ $strings.all_docs_page.description }}</p>
        </header>
        <section>
          <h2>{{ $strings.browse_version }}</h2>
          <ul class="taxonomy terms">{{ range first 7 $.Site.Taxonomies.versions.Alphabetical.Reverse }}{{ $version := .Name }}
            <li><a href="{{ $.Site.Params.BaseDir }}versions/{{ $version }}/">Firefox {{ $version }}{{ with index $.Site.Data.firefox.versions $version }} <em class="channel">{{ index $.Site.Data.firefox.channels . }}</em>{{ end }}</a></li>{{ end }}
            <li><a href="{{ $.Site.Params.BaseDir }}versions/">{{ $strings.browse_all_versions }}</a></li>
          </ul>
        </section>
        <section>
          <h2>{{ $strings.browse_category }}</h2>
          <ul class="taxonomy terms">{{ range $category, $taxonomy := $.Site.Taxonomies.categories }}
            <li><a href="{{ $.Site.Params.BaseDir }}categories/{{ $category }}/">{{ index $strings.categories $category }}</a></li>{{ end }}
          </ul>
        </section>
        <section>
          <h2>{{ $strings.browse_status }}</h2>
          <ul class="taxonomy terms">{{ range $status, $taxonomy := $.Site.Taxonomies.statuses }}
            <li><a href="{{ $.Site.Params.BaseDir }}statuses/{{ $status }}/">{{ (index $strings.statuses $status).label }}</a></li>{{ end }}
          </ul>
        </section>
        <section>
          <h2>{{ $strings.all_documents }}</h2>
          <ul>{{ range .Data.Pages }}
            <li>{{ partial "status-label/prefix-em" . }}<a href="{{ replace .Permalink (printf "%s" $.Site.BaseURL) $.Site.Params.BaseDir }}">{{ .Title | markdownify }}</a></li>{{ end }}
          </ul>
        </section>
      </section>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
