<!DOCTYPE html>
{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
<html lang="{{ $.Site.LanguageCode }}">
  <head>
{{ partial "head.html" . }}
    <title>{{ $strings.all_docs_page.title }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ $strings.all_docs_page.title }}">
    <meta property="og:description" content="{{ $strings.all_docs_page.description }}">
    <meta name="description" content="{{ $strings.all_docs_page.description }}">
  </head>
  <body class="list docs all" itemscope itemtype="http://schema.org/CollectionPage" itemref="copyright">
    <meta itemprop="name" content="{{ $strings.all_docs_page.title }}">
    <meta itemprop="description" content="{{ $strings.all_docs_page.description }}">
    <meta itemprop="image" content="{{ $.Site.BaseURL }}images/template/logo-512.png">
{{ partial "header.html" . }}
    <nav itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <p class="inner">
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ $.Site.Params.BaseDir }}" itemprop="item"><span itemprop="name">{{ $strings.sections.home }}</span></a><meta itemprop="position" content="1"></span>
      </p>
    </nav>
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <section class="inner">
        <header>
          <h1 itemprop="name">{{ $strings.all_docs_page.title }}</h1>
          <p itemprop="description">{{ $strings.all_docs_page.description }}</p>
          <ul>
            <li><a href="{{ $.Site.Params.BaseDir }}categories/">{{ $strings.browse_category }}</a></li>
            <li><a href="{{ $.Site.Params.BaseDir }}versions/">{{ $strings.browse_version }}</a></li>
          </ul>
        </header>{{ range .Data.Pages.GroupByParam "versions" "desc" }}{{ $version := .Key }}
        <section>
          <h2>Firefox {{ $version }}{{ with index $.Site.Data.firefox.versions $version }} <em class="channel">{{ index $.Site.Data.firefox.channels . }}</em>{{ end }}</h2>
          <ul>{{ range .Pages }}
            <li>{{ if in .Params.tags "regression" }}<em class="tag regression">{{ $strings.tags.regression }}</em> {{ end }}<a href="{{ replace .Permalink (printf "%s" $.Site.BaseURL) $.Site.Params.BaseDir }}">{{ .Title | markdownify }}</a></li>{{ end }}
          </ul>
        </section>{{ end }}
      </section>
    </main>
{{ partial "footer.html" . }}
  </body>
</html>
